.jumbotron {
  padding-top: 5rem;
  background-color: #d3d3d3;
}
#skill {
  background-color: #d3d3d3;
}
#contact {
  background-color: #d3d3d3;
}
section {
  padding-top: 5rem;
}
footer {
  background-color: #ecebe8;
}
